<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="text-center">
{% include 'nav.html.twig' %}
<section style="width:65%;margin-left: auto; margin-right: auto; margin-bottom: 10px;">
    <div class="bg-white border rounded-2" style="margin-top:15px;padding-bottom20px;">
    {% block body %}
        <h1>Bienvenue</h1>
        {% if is_granted("ROLE_ADMIN") %}
            Accès au <a href="{{ path('admin') }}">BackEnd</a> pour {{ app.user.email }} <br />
        {% endif %}
        {% if is_granted("ROLE_USER") %}
        Accès au <a href="{{ path('user') }}">FrontEnd</a> pour {{ app.user.email }} <br />
        {% endif %}
        {% if not app.user %}
        Veuillez vous <a href="{{ path('app_login') }}">identifiez</a> ou vous <a href="{{ path('app_register') }}">inscrire</a> pour accéder à la page FrontEnd ou la page BackEnd
        {% endif %}
        {% if app.user %}
            <div style="display: block;">
                <button onclick="window.location = '{{ path('app_logout') }}'" class="btn btn-lg btn-primary btn-block mt-3">Déconnexion</button>
            </div>
        {% endif %}
    {% endblock %}
    </div>
</section>
</body>
</html>
